@import "./variables";

.page--gradient-bg {
  .page__background {
    background-image: $gradient-primary;
  }
}

ons-input {
  display: block;
  width: 100%;

  .text-input--block {
    display: block;
    width: 100%;
    height: $input-height;
    padding: 0 24px;
    border-radius: $input-border-radius;
    font-size: $font-size-small;
    text-align: center;
  }
  
  .text-input--darken {
    color: #fff;
    background-color: rgba(#000, .3);
    transition: all ease .2s;
  
    &::placeholder {
      color: rgba(#fff, .6);
    }
  
    &:focus, &:active {
      background-color: rgba(#000, .46);
    }
  }
}

.button--white {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $button-height;
  padding: 0 24px;
  border-radius: $button-border-radius;
  background-color: #fff;
  line-height: $button-height;
  font-size: $font-size-small;
  color: $color-primary;
  font-weight: $font-weight-default;

  &:active {
    background-color: #fff;
    opacity: .84;
  }
}

.textarea--block {
  display: block;
  width: 100%;
  font-size: $font-size-medium;
  resize: none;

  &::placeholder {
    color: $text-color-muted;
  }
}

@keyframes slideOut {
  0% {
    position: absolute;
    
  }
}
