@import "../styles/variables";

.dialog-card__avatar {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.dialog-card__user-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.dialog-card__user-name {
  font-size: $font-size-default;
}

.dialog-card__user-status {
  font-size: $font-size-small;
  color: $text-color-muted;
}

.dialog-card__user-last-seen {
  font-size: $font-size-small;
  color: $text-color-muted;
}

.dialog-card__content {
  display: flex;
  align-items: center;
  height: 68px;
  padding: $base-padding;
}
