.busy-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.busy-container__text {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);
  text-align: center;
}
