@import "./styles/variables";

.search-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 $base-padding;
  background-color: $color-extra-light-gray;
  z-index: 70;

  .search-panel__search-field {
    flex: 1;
  }
}

