@import "./styles/variables";

.groups-page__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $base-padding;
}

.groups-page__card {
  max-width: 360px;
  margin: $base-padding auto 0 auto;
  flex-basis: 360px;
}

.group-members {
  display: flex;
  justify-content: center;
}

.group-members__avatar {
  & + .group-members__avatar {
    margin-left: 5px;
  }
}
