@import "./styles/variables";

.home-page {
  color: #fff;
  text-align: center;
}

.home-page__content {
  height: 100%;
  overflow: hidden;
  padding: 120px 52px 0 52px;
  transition: all .2s ease-out .2s;
  &.scrolled {
    transform: translate3d(0, -254px, 0);
  }
}

.home-page__header {
  margin-bottom: 100px;
}

.home-page__title {
  font-size: $font-size-x-large;
  font-weight: $font-weight-black;
}

.home-page__subtitle {
  font-size: $font-size-large;
}

.home-page__form {
  max-width: 320px;
  margin: 0 auto;
}

.home-page__buttons {
  margin-top: 50px;
}

.input-field + .input-field {
  display: block;
  margin-top: 25px;
}
