@import "~onsenui/css/onsenui-core";
@import "~onsenui/css/ionicons/css/ionicons.min.css";
@import "./styles/onsen-css-components.css";
@import "./styles/variables";
@import "./styles/modifiers";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: normal;
}

p {
  margin: 0;
  line-height: normal;
}

.label {
  color: $text-color-muted;
}

.text-primary {
  color: $color-primary !important;
}

