@import "./styles/variables";

.messages-page {
  height: 100%;
}

.messages-page__content {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.chat {
  height: 100%;
  background-color: #fff;
  overflow: auto;
  padding: $base-padding 0;
}

.chat__message {
  padding: 0 $base-padding;

  + .chat__message {
    margin-top: 25px;
  }
}

.messages-page__msg-field{
  flex: 1;
  padding: $base-padding;
}

.messages-page__btn-send {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 70px;
  background-image: $gradient-primary;

  &:focus, &:active {
    outline: none;
  }
}
